<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
<bean id="prototypeBean" class="com.applicationContextAware.PrototypeBean" scope="prototype">
	<property name="a" value="34" />
</bean>
<bean id="sing" class="com.applicationContextAware.SingletonBean" ></bean>
</beans>